script( src="/node_modules/core-js/client/shim.min.js")
script( src="/node_modules/zone.js/dist/zone.js")
script( src="/node_modules/reflect-metadata/Reflect.js")
script( src="/node_modules/systemjs/dist/system.src.js")

